/* phone__input */

.phone__input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
}

.phone-input {
    width: 100%;
    margin-bottom: 32px;
}

.phone-input__label {
    font-size: 12px;
    color: var(--icon-color);
    float: left;
    display: block;
    margin-bottom: 0.5rem;
}

.phone-input__field {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    outline: none;
}

.phone-input__field:focus {
    border-color: #007bff;
    outline: none;
}

.header-actions {
    display: flex;
    align-items: center;
}

.modal__button-icon {
    margin-right: 8px;
}

.header__button img {
    width: 24px;
    height: 24px;
}