<div class="products-grid products--col-4 ">
    <div class="product-card ">
        <img class="product-card__favorite-icon " src="img/favorite.svg " alt="Favorite Icon " />
        <img class="product-card__image " src="img/product.png " alt="Product Image " />

        <div class="product-card__content ">
            <span class="product-card__description ">Product Title</span>
            <div class="product-card__rating ">
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
            </div>
            <div class="product-card__prices ">
                <span class="product-card__price product-card__price--old h-price-gray ">Old Price</span>
                <span class="product-card__price product-card__price--new h-price-red ">
                        New Price
                        <span class="product-card__currency currency ">₴</span>
                </span>
            </div>
        </div>

        <img class="product-card__cart-icon " src="img/shopping-cart.svg " alt="Shopping Cart Icon " />
    </div>
    <div class="product-card ">
        <img class="product-card__favorite-icon " src="img/favorite.svg " alt="Favorite Icon " />
        <img class="product-card__image " src="img/product.png " alt="Product Image " />

        <div class="product-card__content ">
            <span class="product-card__description ">Product Title</span>
            <div class="product-card__rating ">
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
            </div>
            <div class="product-card__prices ">
                <span class="product-card__price product-card__price--old h-price-gray ">Old Price</span>
                <span class="product-card__price product-card__price--new h-price-red ">
                        New Price
                        <span class="product-card__currency currency ">₴</span>
                </span>
            </div>
        </div>

        <img class="product-card__cart-icon " src="img/shopping-cart.svg " alt="Shopping Cart Icon " />
    </div>
    <div class="product-card ">
        <img class="product-card__favorite-icon " src="img/favorite.svg " alt="Favorite Icon " />
        <img class="product-card__image " src="img/product.png " alt="Product Image " />

        <div class="product-card__content ">
            <span class="product-card__description ">Product Title</span>
            <div class="product-card__rating ">
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
            </div>
            <div class="product-card__prices ">
                <span class="product-card__price product-card__price--old h-price-gray ">Old Price</span>
                <span class="product-card__price product-card__price--new h-price-red ">
                        New Price
                        <span class="product-card__currency currency ">₴</span>
                </span>
            </div>
        </div>

        <img class="product-card__cart-icon " src="img/shopping-cart.svg " alt="Shopping Cart Icon " />
    </div>
    <div class="product-card ">
        <img class="product-card__favorite-icon " src="img/favorite.svg " alt="Favorite Icon " />
        <img class="product-card__image " src="img/product.png " alt="Product Image " />

        <div class="product-card__content ">
            <span class="product-card__description ">Product Title</span>
            <div class="product-card__rating ">
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
            </div>
            <div class="product-card__prices ">
                <span class="product-card__price product-card__price--old h-price-gray ">Old Price</span>
                <span class="product-card__price product-card__price--new h-price-red ">
                        New Price
                        <span class="product-card__currency currency ">₴</span>
                </span>
            </div>
        </div>

        <img class="product-card__cart-icon " src="img/shopping-cart.svg " alt="Shopping Cart Icon " />
    </div>
    <div class="product-card ">
        <img class="product-card__favorite-icon " src="img/favorite.svg " alt="Favorite Icon " />
        <img class="product-card__image " src="img/product.png " alt="Product Image " />

        <div class="product-card__content ">
            <span class="product-card__description ">Product Title</span>
            <div class="product-card__rating ">
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
            </div>
            <div class="product-card__prices ">
                <span class="product-card__price product-card__price--old h-price-gray ">Old Price</span>
                <span class="product-card__price product-card__price--new h-price-red ">
                        New Price
                        <span class="product-card__currency currency ">₴</span>
                </span>
            </div>
        </div>

        <img class="product-card__cart-icon " src="img/shopping-cart.svg " alt="Shopping Cart Icon " />
    </div>
    <div class="product-card ">
        <img class="product-card__favorite-icon " src="img/favorite.svg " alt="Favorite Icon " />
        <img class="product-card__image " src="img/product.png " alt="Product Image " />

        <div class="product-card__content ">
            <span class="product-card__description ">Product Title</span>
            <div class="product-card__rating ">
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
            </div>
            <div class="product-card__prices ">
                <span class="product-card__price product-card__price--old h-price-gray ">Old Price</span>
                <span class="product-card__price product-card__price--new h-price-red ">
                        New Price
                        <span class="product-card__currency currency ">₴</span>
                </span>
            </div>
        </div>

        <img class="product-card__cart-icon " src="img/shopping-cart.svg " alt="Shopping Cart Icon " />
    </div>
    <div class="product-card ">
        <img class="product-card__favorite-icon " src="img/favorite.svg " alt="Favorite Icon " />
        <img class="product-card__image " src="img/product.png " alt="Product Image " />

        <div class="product-card__content ">
            <span class="product-card__description ">Product Title</span>
            <div class="product-card__rating ">
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
            </div>
            <div class="product-card__prices ">
                <span class="product-card__price product-card__price--old h-price-gray ">Old Price</span>
                <span class="product-card__price product-card__price--new h-price-red ">
                        New Price
                        <span class="product-card__currency currency ">₴</span>
                </span>
            </div>
        </div>

        <img class="product-card__cart-icon " src="img/shopping-cart.svg " alt="Shopping Cart Icon " />
    </div>
    <div class="product-card ">
        <img class="product-card__favorite-icon " src="img/favorite.svg " alt="Favorite Icon " />
        <img class="product-card__image " src="img/product.png " alt="Product Image " />

        <div class="product-card__content ">
            <span class="product-card__description ">Product Title</span>
            <div class="product-card__rating ">
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
                <img class="product-card__rating-icon " src="img/star.svg " alt="Star Icon " />
            </div>
            <div class="product-card__prices ">
                <span class="product-card__price product-card__price--old h-price-gray ">Old Price</span>
                <span class="product-card__price product-card__price--new h-price-red ">
                        New Price
                        <span class="product-card__currency currency ">₴</span>
                </span>
            </div>
        </div>

        <img class="product-card__cart-icon " src="img/shopping-cart.svg " alt="Shopping Cart Icon " />
    </div>
</div>